@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: 'Bebas Neue', cursive;
}

header {
    background-color: #FFF9F4;
}

#h1color {
    color: #FA804C;
    ;
}

#iconimg {
    width: 78px;
    height: 82px;
}